* {
margin:0;
padding:0
}

body {
background:#eee;
color:#333;
font-family:'Roboto',sans-serif;
font:16px
}

h1 {
font-size:2.8em;
padding:8px;
text-align:center;
text-decoration:none
}

h2 {
font-size:1.3em;
padding:0 0 12px;
text-align:center
}

#post,#comment,#postcontent,#down {
margin:0 auto;
background-color:#F0F0F0;
padding:8px;
padding-top:10px;
width:75%;
height:50px;
box-shadow:2px 2px 5px #888;
font-weight:400
}

/*A whole bunch of
postcontent variable and
styling*/
#postcontent {
height:50%;
}
#postcontent h1 {
font-size: 2.0em;
text-align: left;
}
#postcontent h2 {
font-size: 1.3em;
text-align: left;
}
#postcontent pre { /* So proud of this */
padding: 2px;
border: 1px dotted #B0B0B0;
background-color: #F8F8F8;
width: 50%;
}
#postcontent hr {
width: 50%;
height: 1px;
background-color: #000;
border: 0; 
}
#postcontent a{
text-decoration:none;
color: #11B1FF;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
#postcontent a:hover{
text-decoration:none;
color: #A0E0FF;
}
#postcontent img{
display: block;
margin-left: auto;
margin-right: auto;
}

/* --- */

#comment {
width: 65%;
height: 100%;
}

a {
text-decoration:none;
color:#5F5F5F;
}

a:hover {
color:#202020
}

#spacer,#spacer2 {
display:block;
margin:5px 0;
line-height:5px
}

#spacer2 {
margin:30px 0;
line-height:10px
}

#down {
font-size:2em;
color:red;
}

#feedback {
height:104px;
width:104px;
position:fixed;
top:10px
}

#feedback a {
display:block;
background:#888;
height:15px;
width:70px;
padding:8px 16px;
color:#fff;
font-size:17px;
font-weight:300;
text-decoration:none
}

#feedback a:hover {
background:#333
}

#faq {
margin:0 auto;
padding:8px;
padding-top:10px;
width:40%;
height:50px;
font-weight:400;
text-align:center
}

#footer {
margin:0 auto;
width:40%;
height:50px;
font-weight:400;
text-align:center
}

ol,ul {
list-style:none
}
